<h1>New feed</h1>

<% semantic_form_for(@feed) do |f| %>
  <%= f.error_messages %>
  <%= f.input :feed_title %>
  <%= f.input :feed_uri, :as => :string %>
  <%= f.buttons %>
  <p>

  </p>
<% end %>

<%= link_to 'Back', feeds_path %>
