- form_for([:admin, featured_project]) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :url
    %br
    = f.text_field :url
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :author
    %br
    = f.text_field :author
  %p
    = f.label :author_url
    %br
    = f.text_field :author_url
  %p
    = f.submit "Submit"
