- content_for :javascript do
  $(document).ready(function() { getEvent(); });

#content
  #what
    %h2 What is it?
    %p Ruby Enthusiasts in Indianapolis. We meet monthly to talk about cool ruby stuff.
    %p If you are interested in <a href='http://www.ruby-lang.org'>Ruby</a> or <a href='http://www.rubyonrails.org'>Rails</a>, come on down no matter your experience level.
    %p Free pizza at the meeting and post-meeting socializing at the <a href='http://www.myspace.com/brockwaypub'>Brockway Pub</a>.
  #where
    %h2 When and Where?
    %p We meet the second Wednesday of every month!
    %p.address
      = @meetup.venue_name
      %br
      = @meetup.venue_address1
      %br
      = @meetup.venue_address2
      %br
      = "#{@meetup.venue_city}, #{@meetup.venue_state} #{@meetup.venue_zip}"

    %h3 How to find us
    %p= @meetup.how_to_find_us + " " + @meetup.venue_phone
  #member_actions
    %h2 What are our users doing?
    %p
      = link_to "Github stuff"
      = link_to "friend feed"
      = link_to "tweeetz"
    #github
      = content_for(:javascript) do
        = render :partial => "github_feed"
      
#sidebar
  #next_meeting
    %h2 Next Meeting
    %h3.when
      %a.link{:href => @meetup.event_url}= Time.parse(@meetup.time).to_s(:long)
    %p
      %a.link{:href => @meetup.event_url} RSVN now!
    %div.description
      = @meetup.description.gsub(/(<br \/>){2,}/, '<br />')
    %div.map
      %a{:href => "http://maps.google.com/?q=#{@meetup.venue_address1.gsub(' ', '+')}+#{@meetup.venue_city}+#{@meetup.venue_state}+#{@meetup.venue_zip}"}
        %img{:src => @meetup.venue_map, :alt => "Map"}
